body {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif !important;
}
.noPadd{
  padding:0px !important;
}
.MuiCardContent-root-203{
  padding:0px !important;
}
/* CUSTOM CSS */

.show-page #map{
  margin-top:15px;
  width:100%;
}
.show-page table{
  min-width:100% !important;
}
.show-page #map .container{ padding:0px !important;}
[class^="MuiCardContent"]{padding:10px 15px !important;}
.ra-field form{ width:100%; padding:15px;}

.deviceTable{
  margin-top:30px;
}
table thead th, table thead th span{
  font-size:14px !important;
  font-weight:600 !important;
  color:#646777 !important;
}
table tbody td{
  font-size:14px !important;
  color:#646777 !important;
}
.list-page [class^="MuiToolbar"] {
  padding:0px !important;
}
.list-page [class^="MuiToolbar"] [class^="MuiFormLabel"], .list-page [class^="MuiToolbar"] [class^="MuiInput"]{
  min-width: 140px;
}

div[class^="MuiPaper"] {
  box-shadow:none !important;
  border-radius:0px !important;
}
.layout div[class^="MuiDrawer"] svg[class^="MuiSvgIcon"]  { width: 20px !important; height: 20px !important;}
.layout div[class^="MuiDrawer"] div[class^="Menu"]{ padding-top:15px;}
.layout div[class^="MuiDrawer"] div[class^="Menu"] a{ padding-left:18px;}
.layout div[class^="MuiDrawer"] div[class^="Menu"] a > span[class^="MenuItemLink"] { padding-right:17px !important; position:relative; top:-2px;}
.layout div[class^="MuiDrawer"] div[class^="Menu"] a { font-size:16px; font-weight:400;}
.dashboardContainer .row > div > div{  max-width:100% !important; border-radius: 4px !important;  min-height: 100%;}

.headroom button{
  margin:0px !important;
}

div[class^="StatusStatisticsContainer"]{  
  width:100% !important;
  max-width:100% !important;
  box-shadow:none;
}
.headroom-wrapper{ height:auto !important;}

div[class^="MuiDrawer"] > div {
    border: none;
    margin-top: 0px !important; 
}
.MuiPaper-rounded-116{
  border-radius:0px !important;
}
.MuiPaper-elevation11-128{
  -webkit-box-shadow:0 1px 30px 1px rgba(0, 0, 0, 0.11) !important;
  box-shadow:0 1px 30px 1px rgba(0, 0, 0, 0.11) !important;
}
 div[class^="MuiGrid"] > div[class^="MuiPaper"]{
   max-width:100% !important;
   border-radius: 4px !important;
 }
svg[class^="MuiSvgIcon"]{
  fill:#b1c3c8 !important;
}
h2[class^="MuiTypography"]{
  color:#000000 !important;
}

.headroom-wrapper .headroom  header {
  background-color:#FFFFFF !important;
  padding:6px 0px;
  position: fixed !important;
}
.headroom-wrapper .headroom header{     padding: 6px 4px !important;}
.MuiPaper-elevation4-121, .headroom-wrapper .headroom header{
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05) !important;
}
.headroom-wrapper .MuiButtonBase-root-182,.headroom-wrapper div[class^="MuiButtonBase"]{
  margin:0px !important;
}
.headroom-wrapper  .WithTheme-WithWidth-AppBar---title-9{ color:#000000 !important;}
 main[class^="Layout"]{ background-color:#f2f4f7 !important; min-height: calc(100vh - 60px) !important; margin-top:60px !important;}
/* .Menu-root-328{ position:fixed !important;} */
.Menu-root-328{ max-width:225px !important}

div[class^="MuiDrawer"] div[class^="MuiPaper"] div[class^="Menu"]{
  width:100% !important;
 
} 
div[class^="MuiDrawer"] div[class^="MuiPaper"] div[class^="Menu"] ul {
  position: absolute;    bottom: 0px;
}
div[class^="MuiDrawer"] div[class^="MuiPaper"] div[class^="Menu"] ul > div{
  padding-left: 16px;
 
} 
div[class^="MuiDrawer"] > div[class^="MuiPaper"] > div{
  position: fixed;
    width: inherit;
}
div[class^="MuiDrawer"] div[class^="MuiPaper"] div[class^="Menu"] ul{
  position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
}
div[class^="MuiDrawer"] div[class^="MuiPaper"]{

  min-height: calc(100vh - 60px) !important;
} 
.layout div[class^="MuiDrawer"]{
  overflow:hidden;
  box-shadow:0 1px 30px 1px rgba(0,0,0,.11);
  background-color:#FFFFFF;
}
/* .layout div[class^="MuiDrawer"] > div > div{ position:fixed; width:240px;} */

.show-page span[class^="MuiTab"], .show-page a{
  font-weight: bold;
  text-decoration:none !important;
  font-size:14px;
} 
label[class^="MuiFormLabel"] > span{ font-size:22px !important; color:#000000 !important; font-weight:bold; }
.show-page div[class^="MuiFormControl"]{ width:100%; display:block;}
form div[class^="MuiFormControl"]{ width:auto !important; display:inline-block !important;}
.show-page div[class^="MuiFormControl"] div[class^="Labeled"]{ padding:0 !important;}
.show-page div[class^="MuiFormLabel"] { font-size: 1.2rem !important; color: rgba(0, 0, 0, 0.9);}


.recharts-wrapper, .recharts-wrapper svg{ width:100% !important;}
.list-page span[class^="MuiButton"]{ color:#000000;}
.list-page span[class^="MuiButton"] span{ text-transform:capitalize !important; font-weight: 600; }

.layout, div[class^="Layout"] { max-width:100% !important;   min-width:auto !important;}

.card-body .panel__btns{
  position:absolute;
  right:20px;
}
.card-body .panel__btns button{
  border: none;
  background: transparent;
}
.card-body .panel__btns button svg{
  height: 16px;
  width: 16px;
  fill:#999;
}
.card-body .panel__title{
  margin-bottom:20px;
}
.card-body .panel__title .bold-text{
  text-transform: uppercase;
  font-size: 14px;
  color: #646777;
  font-weight: bold !important;
}
.card-body .table thead th{
  border-top: none !important;
  color: #646777 !important;
  border-bottom-color: #eff1f5 !important;
  font-size: 14px;
}
.card-body .table tbody td{
  color: #646777;
  font-size: 14px;
}
button, * {
  outline: none !important; 
}
.Layout-content-4{
  padding: 24px !important;
}
div[class^="MuiDrawer"] div[class^="MuiPaper"] { 
  width:100%;
}

    .layout .panel{margin-bottom:25px;}

@media (min-width: 1200px){
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 991px){
  #deviceContainer{
    max-width:98%;
    padding:0px;
  }
}
@media (min-width: 992px){
  #deviceContainer{
    max-width:calc(100% - 1px);
    padding:0px;
  }
}



